/* @import url(https://fonts.googleapis.com/css?family=Lato:700);
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f1;
  color: #444;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
} */

.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}

.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  transform: rotate(108deg);
}


/* python */
.pie-wrapper.progress-python .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-python .pie .half-circle {
  border-color: #ebb00e;
}
.pie-wrapper.progress-python .pie .left-side {
  transform: rotate(350deg);
}
.pie-wrapper.progress-python .pie .right-side {
  transform: rotate(180deg);
}


/* node */
.pie-wrapper.progress-node .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-node .pie .half-circle {
    border-color: #1abc9c;
}
.pie-wrapper.progress-node .pie .left-side {
    transform: rotate(300deg);
}
.pie-wrapper.progress-node .pie .right-side {
    transform: rotate(180deg);
}

/* react */
.pie-wrapper.progress-react .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-react .pie .half-circle {
    border-color: #3498db;
}
.pie-wrapper.progress-react .pie .left-side {
    transform: rotate(310deg);
}
.pie-wrapper.progress-react .pie .right-side {
    transform: rotate(180deg);
}

/* cpp */
.pie-wrapper.progress-cpp .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-cpp .pie .half-circle {
    border-color: #3498db;
}
.pie-wrapper.progress-cpp .pie .left-side {
    transform: rotate(270deg);
}
.pie-wrapper.progress-cpp .pie .right-side {
    transform: rotate(180deg);
}

/* bash */
.pie-wrapper.progress-bash .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-bash .pie .half-circle {
    border-color: #9b59b6;
}
.pie-wrapper.progress-bash .pie .left-side {
    transform: rotate(280deg);
}
.pie-wrapper.progress-bash .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0/50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
  /* background: red; */
}



.pie-wrapper--solid.progress-95 {
  background: linear-gradient(to right, #3498db 50%, yellow 50%);
}
.pie-wrapper--solid.progress-95:before {
  background: #3498db;
  transform: rotate(23.2deg);
}